.centered-text {
      text-align: center
  }
  
  .normal-text {
      font-size: 15px;
  }
  
  .enlarged-text {
      font-size: 25px;
  }
  
  .big-bold {
      font-size: 20px;
      font-weight: bold;
  }
